.header {
	position: relative;
	&__list {
		display: none;
	}
	&__btn {
		display: none;
	}
	&__container {
		z-index: 15;
		position: absolute;
		padding-top: 40px;
		padding-bottom: 40px;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo-link {
		color: $header-main-color;
		transition: color $cubik;
		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
	&__logo-icon {
		fill: currentColor;
	}
}
.mobile-menu {
	&__btn {
		border: none;
		background-color: transparent;
		padding: 0;
		color: $header-main-color;
		transition: color $cubik;
		&:hover,
		&:focus {
			color: $accent-color;
		}
	}
	&__icon {
		fill: currentColor;
	}
}
@media screen and (min-width: $tablet) {
	.mobile-menu__btn {
		display: none;
	}
	.header {
		&__container {
			justify-content: left;
			padding-top: 32px;
			padding-bottom: 32px;
		}
		&__logo-link {
			color: $dark-subtitle-color;
		}
		&__list {
			display: flex;
			margin-left: 75px;
		}
		&__item:not(:last-child) {
			margin-right: 24px;
		}
		&__link {
			@include font(600, 12px, 16px, 0.1em);
			color: $header-main-color;
		}
		&__btn {
			display: block;
			margin-left: auto;
		}
	}
}
