body {
	font-family: $body-font-family;
	color: $dark-subtitle-color;
}

/* ===== Normalize ====== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

button {
	display: block;
	margin: 0;
}
section {
	padding: 84px 31px;
}

.list {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.link {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}
