.container {
	width: 100%;
	padding: 0 31px;
	// @media screen and (min-width: 480px) {
	// 	width: 480px;
	// 	margin-right: auto;
	// 	margin-left: auto;
	// }
	@media screen and (min-width: $tablet) {
		width: 768px;
		padding: 0 39px;
	}
	// @media screen and (min-width: 1200px) {
	// 	width: 1200px;
	// }
}
