@mixin font($fw, $fs, $lh, $ls: normal) {
	font-weight: $fw;
	font-size: $fs;
	line-height: calc($lh / $fs);
	letter-spacing: $ls;
}
%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
%subtitle {
	@include font(600, 11px, 15px, 0.1em);
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-left: 80px;
}
%header {
	font-family: $header-font-family;
	@include font(700, 42px, 49px, 0.05em);
}
