@mixin font($fw, $fs, $lh, $ls: normal) {
	font-weight: $fw;
	font-size: $fs;
	line-height: calc($lh / $fs);
	letter-spacing: $ls;
}
%flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
%subtitle {
	@include font(600, 11px, 15px, 0.1em);
	text-transform: uppercase;
}
%header {
	@include font(700, 24px, 49px, 0.05em);
}
